.NavBarComponent{
  font-family: $titles;
  font-weight: 800; 
  font-size: 1em; 
  position: fixed; 
  top: 0; 
  z-index: 999;
  width: 100%;
  // background: $background; 

}

.navbar-transparent{
  background-color: transparent;
}

.navbar-colored{
  background-color: $background;
}
#nav-name{
  font-family: $titles;
  font-weight: 800;
  font-size: 1.50em; 
  text-decoration: none;

  margin: 0 100px 0 40px

}
#nav-name:hover{
  text-decoration: none;


}

.link-item{
  text-decoration: none;

  background: linear-gradient(to bottom, $link-background 0%, $link-background 100% ); 
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  transition: background-size .2s;
  margin-right: 60px; 
  
}

.link-item:hover{
  background-size: 4px 50px;
  color: #000; 
}

@media (max-width: 600px){
  nav{
    text-align: center;
    

  }
  #nav-name{
    font-size: 1em;
    border-bottom: 3px solid $link-background;
  }
}




