

//Colors

$background: #FFFFFF; 
$section-background: #D3D3D3;
$link-background: #ff9800; 






//Fonts


$titles: 'Montserrat', sans-serif;

$subtittles: 'Open Sans', sans-serif;
$text: 'Merriweather', serif;
