

//Colors

$background: #22252b; 
$section-background: #2A2E35;
$link-background: #F3CA20;
$title-color:  #F3CA20;
$text-color: #b2becd;  



//Fonts


$titles:'Poppins', sans-serif;
$subtittles: 'Rubik', sans-serif;
$text: 'Merriweather', serif;



//Sizes


$l-size: 2rem; 