

//Colors

$background: #FFFFFF; 
$section-background: #D3D3D3;
$link-background: #ff9800; 

//Fonts


$titles:'Poppins', sans-serif;
$subtittles: 'Rubik', sans-serif;
$text: 'Merriweather', serif;



//Sizes


$l-size: 2rem; 